## Importing necessary libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
plt.style.use('ggplot')

## Getting Datsets from the drive

In [2]:
data=pd.read_csv("concrete_data.csv",sep=',',header=0)
data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
data.isnull().sum()  # no missing value in the dataset

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
# split the data set into predictors (inputs) and target (output)
predictors = data.drop(columns=['Strength'])
target = data['Strength']

n_cols = predictors.shape[1]

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
predictors.shape

(1030, 8)

In [9]:
n_cols=predictors.shape[1]
n_cols

8

In [10]:
target.shape

(1030,)

# Part B: Normalize the data

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
# Data Preparation -PartA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3,random_state=42)

In [16]:
# build the model
model = regression_model()
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 3090.5645
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 2001.0070
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1528.3304
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1143.7057
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 870.9944
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 716.5300
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 605.7163
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 533.7343
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 457.3549
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 415.7606
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 365.9110
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 328.2994
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 297.5928
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 265.8668
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 243.9531
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 226.0984
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 208.8141
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 193.0352
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 180.9202
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 172.7339
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 166.7641
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 160.6806
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 151.3635
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 145.1655
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 143.5541
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 140.4761
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 137.7984
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 135.5230
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 133.8039
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 130.8283
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 131.6462
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 128.2509
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 124.3061
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 122.8797
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 121.9669
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 121.8103
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 121.8949
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 118.7068
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 118.7066
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 120.3043
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 117.8255
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 118.6486
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 117.6757
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 121.4733
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 117.9640
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 118.6368
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 122.2245
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 117.1307
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 117.3815
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 118.6902

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 107.2644
10/10 [==============================] - 0s 2ms/step

107.26438903808594

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

107.26439195755303 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 93.40202331542969
10/10 [==============================] - 0s 2ms/step
MSE 2: 120.01332092285156
10/10 [==============================] - 0s 1ms/step
MSE 3: 111.53840637207031
10/10 [==============================] - 0s 1ms/step
MSE 4: 126.55146026611328
10/10 [==============================] - 0s 1ms/step
MSE 5: 116.00273132324219
10/10 [==============================] - 0s 1ms/step
MSE 6: 108.13201904296875
10/10 [==============================] - 0s 1ms/step
MSE 7: 116.37480926513672
10/10 [==============================] - 0s 1ms/step
MSE 8: 85.6135482788086
10/10 [==============================] - 0s 1ms/step
MSE 9: 98.19926452636719
10/10 [==============================] - 0s 2ms/step
MSE 10: 95.8898696899414
10/10 [==============================] - 0s 2ms/step
MSE 11: 76.58940887451172
10/10 [==============================] - 0s 1ms/step
MSE 12: 77.48164367675781
10/10 [==============================] - 0s 1ms/step
MSE 13: 87.79159545898438
10/10 [==============================] - 0s 1ms/step
MSE 14: 86.56987762451172
10/10 [==============================] - 0s 2ms/step
MSE 15: 84.38732147216797
10/10 [==============================] - 0s 2ms/step
MSE 16: 77.59508514404297
10/10 [==============================] - 0s 1ms/step
MSE 17: 70.63922119140625
10/10 [==============================] - 0s 1ms/step
MSE 18: 57.34331512451172
10/10 [==============================] - 0s 1ms/step
MSE 19: 46.94361877441406
10/10 [==============================] - 0s 1ms/step
MSE 20: 61.78951644897461
10/10 [==============================] - 0s 1ms/step
MSE 21: 48.076942443847656
10/10 [==============================] - 0s 1ms/step
MSE 22: 51.756752014160156
10/10 [==============================] - 0s 1ms/step
MSE 23: 45.440162658691406
10/10 [==============================] - 0s 1ms/step
MSE 24: 46.33037185668945
10/10 [==============================] - 0s 1ms/step
MSE 25: 50.57102966308594
10/10 [==============================] - 0s 998us/step
MSE 26: 44.51830291748047
10/10 [==============================] - 0s 2ms/step
MSE 27: 54.735618591308594
10/10 [==============================] - 0s 2ms/step
MSE 28: 43.856101989746094
10/10 [==============================] - 0s 1ms/step
MSE 29: 65.31072235107422
10/10 [==============================] - 0s 861us/step
MSE 30: 48.07497024536133
10/10 [==============================] - 0s 871us/step
MSE 31: 48.37647247314453
10/10 [==============================] - 0s 1ms/step
MSE 32: 39.988399505615234
10/10 [==============================] - 0s 1ms/step
MSE 33: 43.99614334106445
10/10 [==============================] - 0s 1ms/step
MSE 34: 46.65117645263672
10/10 [==============================] - 0s 1ms/step
MSE 35: 68.24456787109375
10/10 [==============================] - 0s 1ms/step
MSE 36: 49.303890228271484
10/10 [==============================] - 0s 1ms/step
MSE 37: 49.748924255371094
10/10 [==============================] - 0s 1ms/step
MSE 38: 48.10064697265625
10/10 [==============================] - 0s 1ms/step
MSE 39: 45.43019485473633
10/10 [==============================] - 0s 867us/step
MSE 40: 39.50395965576172
10/10 [==============================] - 0s 970us/step
MSE 41: 54.703575134277344
10/10 [==============================] - 0s 1ms/step
MSE 42: 43.7735481262207
10/10 [==============================] - 0s 1ms/step
MSE 43: 57.05501174926758
10/10 [==============================] - 0s 1ms/step
MSE 44: 56.768577575683594
10/10 [==============================] - 0s 1ms/step
MSE 45: 53.39442443847656
10/10 [==============================] - 0s 2ms/step
MSE 46: 49.2591667175293
10/10 [==============================] - 0s 1ms/step
MSE 47: 52.158782958984375
10/10 [==============================] - 0s 1ms/step
MSE 48: 46.83976364135742
10/10 [==============================] - 0s 1ms/step
MSE 49: 47.1296272277832
10/10 [==============================] - 0s 1ms/step
MSE 50: 49.81846237182617
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 65.75528808138941
Standard Deviation: 24.42921384433255

    Peer-graded Assignment 	Mean MSE 	Standard Deviation
    A 	Build a baseline model 	57.64673 	 26.9559	
    B 	Normalize the data      65.75528 	 24.42921	
    C 	Increase the number of epochs(100) ? 	? 	
    D 	Increase the number of hidden layers (3) 	? 	?