## Importing necessary libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
plt.style.use('ggplot')

## Getting Datsets from the drive

In [2]:
data=pd.read_csv("concrete_data.csv",sep=',',header=0)
data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
data.isnull().sum()  # no missing value in the dataset

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# split the data set into predictors (inputs) and target (output)
predictors = data.drop(columns=['Strength'])
target = data['Strength']

n_cols = predictors.shape[1]

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
predictors.shape

(1030, 8)

In [9]:
n_cols=predictors.shape[1]
n_cols

8

In [10]:
target.shape

(1030,)

# Part D:Increase the number of hidden layers

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
# Data Preparation -PartA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3,random_state=52)

In [14]:
# build the model
model = regression_model()
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 2601.3933
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 983.7389
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 573.7186
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 409.7325
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 313.1225
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 263.5664
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 233.0102
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 207.8776
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 193.1471
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 184.1839
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 173.1163
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 167.3510
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 159.6169
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 153.5340
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 151.2278
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 145.0685
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 148.1947
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 139.0852
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 135.3974
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 136.1864
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 129.7606
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 129.0999
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 127.8879
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 123.1453
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 123.2648
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 119.8280
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 115.7397
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 124.1000
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 111.2690
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 111.5565
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 108.8258
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 109.6345
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 105.5561
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 105.1956
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 105.0517
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 103.7716
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 101.8694
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 99.8833
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 96.6891
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 96.2123
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 99.2024
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 93.0764
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 96.9337
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 94.7633
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 90.9179
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 92.6899
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 92.5283
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 86.8203
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 87.3422
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 86.7207

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 93.6093
10/10 [==============================] - 0s 1ms/step

93.60931396484375

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

93.60930384197906 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [18]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 54.76235580444336
10/10 [==============================] - 0s 1ms/step
MSE 2: 63.44924545288086
10/10 [==============================] - 0s 1ms/step
MSE 3: 49.01344299316406
10/10 [==============================] - 0s 1ms/step
MSE 4: 48.43519973754883
10/10 [==============================] - 0s 1ms/step
MSE 5: 51.80984878540039
10/10 [==============================] - 0s 879us/step
MSE 6: 47.208187103271484
10/10 [==============================] - 0s 1ms/step
MSE 7: 51.77398681640625
10/10 [==============================] - 0s 1ms/step
MSE 8: 43.60547637939453
10/10 [==============================] - 0s 1ms/step
MSE 9: 42.08662796020508
10/10 [==============================] - 0s 1ms/step
MSE 10: 54.19947052001953
10/10 [==============================] - 0s 1ms/step
MSE 11: 44.543025970458984
10/10 [==============================] - 0s 1ms/step
MSE 12: 38.47638702392578
10/10 [==============================] - 0s 1ms/step
MSE 13: 46.762943267822266
10/10 [==============================] - 0s 1ms/step
MSE 14: 45.8347282409668
10/10 [==============================] - 0s 2ms/step
MSE 15: 39.40511703491211
10/10 [==============================] - 0s 1ms/step
MSE 16: 35.69268798828125
10/10 [==============================] - 0s 2ms/step
MSE 17: 41.56444549560547
10/10 [==============================] - 0s 1ms/step
MSE 18: 40.48334503173828
10/10 [==============================] - 0s 1ms/step
MSE 19: 34.526432037353516
10/10 [==============================] - 0s 2ms/step
MSE 20: 40.00732421875
10/10 [==============================] - 0s 2ms/step
MSE 21: 42.60935974121094
10/10 [==============================] - 0s 2ms/step
MSE 22: 37.09796905517578
10/10 [==============================] - 0s 1ms/step
MSE 23: 34.95368576049805
10/10 [==============================] - 0s 1ms/step
MSE 24: 40.16841125488281
10/10 [==============================] - 0s 1ms/step
MSE 25: 46.93540954589844
10/10 [==============================] - 0s 2ms/step
MSE 26: 41.15122985839844
10/10 [==============================] - 0s 1ms/step
MSE 27: 40.16520309448242
10/10 [==============================] - 0s 1ms/step
MSE 28: 36.025508880615234
10/10 [==============================] - 0s 1ms/step
MSE 29: 50.15871047973633
10/10 [==============================] - 0s 1ms/step
MSE 30: 40.468997955322266
10/10 [==============================] - 0s 1ms/step
MSE 31: 40.612403869628906
10/10 [==============================] - 0s 2ms/step
MSE 32: 37.75990295410156
10/10 [==============================] - 0s 1ms/step
MSE 33: 34.70693588256836
10/10 [==============================] - 0s 1ms/step
MSE 34: 42.30882263183594
10/10 [==============================] - 0s 999us/step
MSE 35: 37.904048919677734
10/10 [==============================] - 0s 1ms/step
MSE 36: 37.98450469970703
10/10 [==============================] - 0s 1ms/step
MSE 37: 35.874420166015625
10/10 [==============================] - 0s 1ms/step
MSE 38: 40.89120864868164
10/10 [==============================] - 0s 1ms/step
MSE 39: 45.73423767089844
10/10 [==============================] - 0s 1ms/step
MSE 40: 31.87030029296875
10/10 [==============================] - 0s 1ms/step
MSE 41: 40.39227294921875
10/10 [==============================] - 0s 1ms/step
MSE 42: 38.687835693359375
10/10 [==============================] - 0s 1ms/step
MSE 43: 36.26070785522461
10/10 [==============================] - 0s 966us/step
MSE 44: 45.731021881103516
10/10 [==============================] - 0s 1ms/step
MSE 45: 41.220760345458984
10/10 [==============================] - 0s 945us/step
MSE 46: 36.50080871582031
10/10 [==============================] - 0s 1ms/step
MSE 47: 40.619319915771484
10/10 [==============================] - 0s 1ms/step
MSE 48: 38.17426681518555
10/10 [==============================] - 0s 1ms/step
MSE 49: 41.17742156982422
10/10 [==============================] - 0s 972us/step
MSE 50: 39.69999694824219
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 42.149718746484275
Standard Deviation: 6.055502791561909

         Peer-graded Assignment 	Mean MSE 	Standard Deviation
    A 	Build a baseline model 	57.64673 	 26.9559	
    B 	Normalize the data      65.75528 	 24.42921	
    C 	Increase the number of epochs(100) 53.14902 	13.15899	
    D 	Increase the number of hidden layers(3) 42.149718 	6.05550